@import '../base/variables';
@import '../base/listas';

.footer{
    background-image: $bg-color-footer;    
}

.iconos_redes{
    border-style: none;
    height: 30px;
    width: 30px;
    margin: 5px;
 }
 
 .redes{
    display: flex;
    justify-content:center;
 }
 
 .firma{
    display: flex;
    justify-content:center;
 }