/*----------Estilos Header---------------------- */
.logo{ 
    height: 100px;
    width: 80px;
}

.nav-link{
    font-size: 24px;
    font-family: 'Abril Fatface', cursive;
}
li a:hover{
    background-color: rgb(223, 221, 221);
}

/*------Fin Estilos Header------------------- */
