/*-------Estilos Header---------------------- */
.logo{
    border-style: none;
    border-color: var(--color2);   
    height: 120px;
    width: 280px;
 }

 /*------Fin Estilos Header------------------- */