/*----------Estilos Header---------------------- */
.logo{
    border-style: none;
    border-color: var(--color2);   
    height: 120px;
    width: 280px;
 }

header{
    nav{
        background-image: $bg-color-header;
        ul{
            li{
                margin: 5px;
                a{
                    size:40px;
                    color: nht($colores,3);
                    text-decoration: none; 
                        &:hover{
                            color: cyan;
                            text-decoration: none;
                        } 

                }
            }
        }
    }
}


  /*------Fin Estilos Header------------------- */
