/* ----------Seccion Home-------- */
.seccion1{
    background-image: url(../Imagenes/portada-globos.jpg); 
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;  
    padding: 150px 0px;
    margin: 10px 0px;
    width: 100%;
    text-align: center;
 }

 .titulo1{
    font-size:100px;
    color: white;
    text-shadow: 7px 4px 5px rgb(15, 15, 15);
    text-transform: uppercase;
 }
 /* --------Fin Seccion Home---------- */