/* ------Seccion Promociones------------ */
.fondo{ 
    text-align: center;    
    margin: 0px 0px; 
    background-image: $bg-color-section;
 }

 .titulos{
    text-align: center;
    color: #66DE93;
    background-image: linear-gradient(var(--color3),var(--color2));
 }
 /* ------Fin Seccion Promociones------ */