/* --------------------------Seccion Promociones--------------------------- */
 .promociones-titulo{
   margin: 30px 0px;
 }

 .img-promo{
   margin-top: 10px;
   margin-left: 10px;
   margin-bottom: 10px;
   height: 200px;
   width: 450px;
 }


 /* ------------------------Fin Seccion Promociones----------------------- */