@import '../base/listas';

$bg-color-header: none;
$bg-color-section: linear-gradient(nth($colores,6), nth($colores,9));
$bg-color-contacto: lightblue;
$bg-color-footer: linear-gradient(nth($colores,1), nth($colores,2));
$bg-color-card1: linear-gradient(nth($colores,9), nth($colores,1));
$bordes: nth($colores, 2)


