/*------ Reseteo de paarametros------------ */
*{
    margin:0;
    box-sizing: border-box;
 }
 
 
 
 /*------ Declaración de Variables------------ */
 :root {
    --color1: #D83A56;
    --color2: #FF616D;
    --color3: #FFEAC9;
    --color4: #66DE93;
 }